# Springboard Data Science Career Track Unit 4 Challenge - Tier 3 Complete

## Objectives
Hey! Great job getting through those challenging DataCamp courses. You're learning a lot in a short span of time. 

In this notebook, you're going to apply the skills you've been learning, bridging the gap between the controlled environment of DataCamp and the *slightly* messier work that data scientists do with actual datasets!

Here’s the mystery we’re going to solve: ***which boroughs of London have seen the greatest increase in housing prices, on average, over the last two decades?***


A borough is just a fancy word for district. You may be familiar with the five boroughs of New York… well, there are 32 boroughs within Greater London [(here's some info for the curious)](https://en.wikipedia.org/wiki/London_boroughs). Some of them are more desirable areas to live in, and the data will reflect that with a greater rise in housing prices.

***This is the Tier 3 notebook, which means it's not filled in at all: we'll just give you the skeleton of a project, the brief and the data. It's up to you to play around with it and see what you can find out! Good luck! If you struggle, feel free to look at easier tiers for help; but try to dip in and out of them, as the more independent work you do, the better it is for your learning!***

This challenge will make use of only what you learned in the following DataCamp courses: 
- Prework courses (Introduction to Python for Data Science, Intermediate Python for Data Science)
- Data Types for Data Science
- Python Data Science Toolbox (Part One) 
- pandas Foundations
- Manipulating DataFrames with pandas
- Merging DataFrames with pandas

Of the tools, techniques and concepts in the above DataCamp courses, this challenge should require the application of the following: 
- **pandas**
    - **data ingestion and inspection** (pandas Foundations, Module One) 
    - **exploratory data analysis** (pandas Foundations, Module Two)
    - **tidying and cleaning** (Manipulating DataFrames with pandas, Module Three) 
    - **transforming DataFrames** (Manipulating DataFrames with pandas, Module One)
    - **subsetting DataFrames with lists** (Manipulating DataFrames with pandas, Module One) 
    - **filtering DataFrames** (Manipulating DataFrames with pandas, Module One) 
    - **grouping data** (Manipulating DataFrames with pandas, Module Four) 
    - **melting data** (Manipulating DataFrames with pandas, Module Three) 
    - **advanced indexing** (Manipulating DataFrames with pandas, Module Four) 
- **matplotlib** (Intermediate Python for Data Science, Module One)
- **fundamental data types** (Data Types for Data Science, Module One) 
- **dictionaries** (Intermediate Python for Data Science, Module Two)
- **handling dates and times** (Data Types for Data Science, Module Four)
- **function definition** (Python Data Science Toolbox - Part One, Module One)
- **default arguments, variable length, and scope** (Python Data Science Toolbox - Part One, Module Two) 
- **lambda functions and error handling** (Python Data Science Toolbox - Part One, Module Four)

## The Data Science Pipeline

This is Tier Three, so we'll get you started. But after that, it's all in your hands! When you feel done with your investigations, look back over what you've accomplished, and prepare a quick presentation of your findings for the next mentor meeting. 

Data Science is magical. In this case study, you'll get to apply some complex machine learning algorithms. But as  [David Spiegelhalter](https://www.youtube.com/watch?v=oUs1uvsz0Ok) reminds us, there is no substitute for simply **taking a really, really good look at the data.** Sometimes, this is all we need to answer our question.

Data Science projects generally adhere to the four stages of Data Science Pipeline:
1. Sourcing and loading 
2. Cleaning, transforming, and visualizing 
3. Modeling 
4. Evaluating and concluding

### 1. Sourcing and Loading 

Any Data Science project kicks off by importing  ***pandas***. The documentation of this wonderful library can be found [here](https://pandas.pydata.org/). As you've seen, pandas is conveniently connected to the [Numpy](http://www.numpy.org/) and [Matplotlib](https://matplotlib.org/) libraries. 

***Hint:*** This part of the data science pipeline will test those skills you acquired in the pandas Foundations course, Module One.

#### 1.1. Importing Libraries

In [2]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

#### 1.2.  Loading the data
Your data comes from the [London Datastore](https://data.london.gov.uk/): a free, open-source data-sharing portal for London-oriented datasets.

In [4]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)
properties.head()

,Unnamed: 0,City of London,Barking & Dagenham,Barnet,Bexley,Brent,Bromley,Camden,Croydon,Ealing,...,NORTH WEST,YORKS & THE HUMBER,EAST MIDLANDS,WEST MIDLANDS,EAST OF ENGLAND,LONDON,SOUTH EAST,SOUTH WEST,Unnamed: 47,England
0,NaT,E09000001,E09000002,E09000003,E09000004,E09000005,E09000006,E09000007,E09000008,E09000009,...,E12000002,E12000003,E12000004,E12000005,E12000006,E12000007,E12000008,E12000009,NaN,E92000001
1,1995-01-01,91448.98487,50460.2266,93284.51832,64958.09036,71306.56698,81671.47692,120932.8881,69158.16225,79885.89069,...,43958.48001,44803.42878,45544.52227,48527.52339,56701.5961,74435.76052,64018.87894,54705.1579,NaN,53202.77128
2,1995-02-01,82202.77314,51085.77983,93190.16963,64787.92069,72022.26197,81657.55944,119508.8622,68951.09542,80897.06551,...,43925.42289,44528.80721,46051.57066,49341.29029,56593.59475,72777.93709,63715.02399,54356.14843,NaN,53096.1549
3,1995-03-01,79120.70256,51268.96956,92247.52435,64367.49344,72015.76274,81449.31143,120282.2131,68712.44341,81379.86288,...,44434.8681,45200.46775,45383.82395,49442.17973,56171.18278,73896.84204,64113.60858,53583.07667,NaN,53201.2843
4,1995-04-01,77101.20804,53133.50526,90762.87492,64277.66881,72965.63094,81124.41227,120097.899,68610.04641,82188.90498,...,44267.7796,45614.34341,46124.23045,49455.93299,56567.89582,74455.28754,64623.22395,54786.01938,NaN,53590.8548

### 2. Cleaning, transforming, and visualizing
This second stage is arguably the most important part of any Data Science project. The first thing to do is take a proper look at the data. Cleaning forms the majority of this stage, and can be done both before or after Transformation.

The end goal of data cleaning is to have tidy data. When data is tidy: 

1. Each variable has a column.
2. Each observation forms a row.

Keep the end goal in mind as you move through this process, every step will take you closer. 



***Hint:*** This part of the data science pipeline should test those skills you acquired in: 
- Intermediate Python for data science, all modules.
- pandas Foundations, all modules. 
- Manipulating DataFrames with pandas, all modules.
- Data Types for Data Science, Module Four.
- Python Data Science Toolbox - Part One, all modules

**2.1. Exploring your data** 

Think about your pandas functions for checking out a dataframe.

In [7]:
properties.head(10) # Checking out initial 10 rows of the data frame

,Unnamed: 0,City of London,Barking & Dagenham,Barnet,Bexley,Brent,Bromley,Camden,Croydon,Ealing,...,NORTH WEST,YORKS & THE HUMBER,EAST MIDLANDS,WEST MIDLANDS,EAST OF ENGLAND,LONDON,SOUTH EAST,SOUTH WEST,Unnamed: 47,England
0,NaT,E09000001,E09000002,E09000003,E09000004,E09000005,E09000006,E09000007,E09000008,E09000009,...,E12000002,E12000003,E12000004,E12000005,E12000006,E12000007,E12000008,E12000009,NaN,E92000001
1,1995-01-01,91448.98487,50460.2266,93284.51832,64958.09036,71306.56698,81671.47692,120932.8881,69158.16225,79885.89069,...,43958.48001,44803.42878,45544.52227,48527.52339,56701.5961,74435.76052,64018.87894,54705.1579,NaN,53202.77128
2,1995-02-01,82202.77314,51085.77983,93190.16963,64787.92069,72022.26197,81657.55944,119508.8622,68951.09542,80897.06551,...,43925.42289,44528.80721,46051.57066,49341.29029,56593.59475,72777.93709,63715.02399,54356.14843,NaN,53096.1549
3,1995-03-01,79120.70256,51268.96956,92247.52435,64367.49344,72015.76274,81449.31143,120282.2131,68712.44341,81379.86288,...,44434.8681,45200.46775,45383.82395,49442.17973,56171.18278,73896.84204,64113.60858,53583.07667,NaN,53201.2843
4,1995-04-01,77101.20804,53133.50526,90762.87492,64277.66881,72965.63094,81124.41227,120097.899,68610.04641,82188.90498,...,44267.7796,45614.34341,46124.23045,49455.93299,56567.89582,74455.28754,64623.22395,54786.01938,NaN,53590.8548
5,1995-05-01,84409.14932,53042.24852,90258.00033,63997.13588,73704.04743,81542.61561,119929.2782,68844.9169,82077.05525,...,44223.61973,44830.98563,45878.00396,50369.66188,56479.80183,75432.02786,64530.36358,54698.83831,NaN,53678.24041
6,1995-06-01,94900.51244,53700.34831,90107.23471,64252.32335,74310.48167,82382.83435,121887.4625,69052.51103,81630.66181,...,44112.96432,45392.63981,45679.99539,50100.43023,56288.94557,75606.24501,65511.008,54420.15939,NaN,53735.15475
7,1995-07-01,110128.0423,52113.12157,91441.24768,63722.70055,74127.03788,82898.52264,124027.5768,69142.48112,82352.2226,...,44109.58764,45534.99864,46037.67312,49860.00809,57242.30186,75984.24079,65224.88465,54265.86368,NaN,53900.60633
8,1995-08-01,112329.4376,52232.19868,92361.31512,64432.60005,73547.0411,82054.37156,125529.8039,68993.42545,82706.65927,...,44193.66583,45111.45939,45922.53585,49598.45969,56732.40547,75529.34488,64851.60429,54365.71495,NaN,53600.31975
9,1995-09-01,104473.1096,51471.61353,93273.12245,64509.54767,73789.54287,81440.43008,120596.8511,69393.50023,82011.08271,...,44088.07696,44837.86023,45771.66321,49319.69715,56259.28635,74940.80872,64352.47119,54243.98694,NaN,53309.2331

In [8]:
properties.shape # Checking out the shape of DataFrame and find out that it has 339 Rows and 49 columns

(339, 49)

In [9]:
properties.dtypes # Here with the help of 'dtype' we know the data type of each column

Unnamed: 0              datetime64[ns]
City of London                  object
Barking & Dagenham              object
Barnet                          object
Bexley                          object
Brent                           object
Bromley                         object
Camden                          object
Croydon                         object
Ealing                          object
Enfield                         object
Greenwich                       object
Hackney                         object
Hammersmith & Fulham            object
Haringey                        object
Harrow                          object
Havering                        object
Hillingdon                      object
Hounslow                        object
Islington                       object
Kensington & Chelsea            object
Kingston upon Thames            object
Lambeth                         object
Lewisham                        object
Merton                          object
Newham                          object
Redbridge                       object
Richmond upon Thames            object
Southwark                       object
Sutton                          object
Tower Hamlets                   object
Waltham Forest                  object
Wandsworth                      object
Westminster                     object
Unnamed: 34                    float64
Inner London                    object
Outer London                    object
Unnamed: 37                    float64
NORTH EAST                      object
NORTH WEST                      object
YORKS & THE HUMBER              object
EAST MIDLANDS                   object
WEST MIDLANDS                   object
EAST OF ENGLAND                 object
LONDON                          object
SOUTH EAST                      object
SOUTH WEST                      object
Unnamed: 47                    float64
England                         object
dtype: object

In [11]:
properties.columns # here are the list of columns

Index(['Unnamed: 0', 'City of London', 'Barking & Dagenham', 'Barnet',
       'Bexley', 'Brent', 'Bromley', 'Camden', 'Croydon', 'Ealing', 'Enfield',
       'Greenwich', 'Hackney', 'Hammersmith & Fulham', 'Haringey', 'Harrow',
       'Havering', 'Hillingdon', 'Hounslow', 'Islington',
       'Kensington & Chelsea', 'Kingston upon Thames', 'Lambeth', 'Lewisham',
       'Merton', 'Newham', 'Redbridge', 'Richmond upon Thames', 'Southwark',
       'Sutton', 'Tower Hamlets', 'Waltham Forest', 'Wandsworth',
       'Westminster', 'Unnamed: 34', 'Inner London', 'Outer London',
       'Unnamed: 37', 'NORTH EAST', 'NORTH WEST', 'YORKS & THE HUMBER',
       'EAST MIDLANDS', 'WEST MIDLANDS', 'EAST OF ENGLAND', 'LONDON',
       'SOUTH EAST', 'SOUTH WEST', 'Unnamed: 47', 'England'],
      dtype='object')

**2.2. Cleaning the data**

You might find you need to transpose your dataframe, check out what its row indexes are, and reset the index. You  also might find you need to assign the values of the first row to your column headings  . (Hint: recall the .columns feature of DataFrames, as well as the iloc[] method).

Don't be afraid to use StackOverflow for help  with this.

**Transposing the data**

In [16]:
transposed_properties=properties.T # With the help of '.T' ,we transposed the data
transposed_properties.head()

,0,1,2,3,4,5,6,7,8,9,...,329,330,331,332,333,334,335,336,337,338
Unnamed: 0,NaT,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,1995-09-01 00:00:00,...,2022-05-01 00:00:00,2022-06-01 00:00:00,2022-07-01 00:00:00,2022-08-01 00:00:00,2022-09-01 00:00:00,2022-10-01 00:00:00,2022-11-01 00:00:00,2022-12-01 00:00:00,2023-01-01 00:00:00,2023-02-01 00:00:00
City of London,E09000001,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,110128.0423,112329.4376,104473.1096,...,795174.941,817653.89,823465.9092,867266.9155,863879.8209,902309.282,958869.7855,929060.0982,978120.5133,960867.8271
Barking & Dagenham,E09000002,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,52113.12157,52232.19868,51471.61353,...,334860.1394,344686.2927,348768.9455,350456.7649,349749.4368,353520.9551,356902.8691,356645.1966,352043.1242,344518.0012
Barnet,E09000003,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,91441.24768,92361.31512,93273.12245,...,584042.5146,589629.3011,590956.5544,601802.5584,607196.4449,605114.2948,596539.3541,596637.6706,598835.4533,602510.1509
Bexley,E09000004,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,63722.70055,64432.60005,64509.54767,...,385259.9068,388894.2716,394492.2897,400778.7012,402890.116,406868.9186,405329.0206,406858.5581,399887.1166,399578.3604

**Assigning first row to the heading and deleting that row**

In [24]:
transposed_properties.rename(columns=transposed_properties.iloc[0],inplace=True)
transposed_properties.drop(transposed_properties.index[0],inplace=True)
transposed_properties.head()

Unnamed: 0,NaT,1995-01-01,1995-02-01,1995-03-01,1995-04-01,1995-05-01,1995-06-01,1995-07-01,1995-08-01,1995-09-01,...,2022-05-01,2022-06-01,2022-07-01,2022-08-01,2022-09-01,2022-10-01,2022-11-01,2022-12-01,2023-01-01,2023-02-01
City of London,E09000001,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,110128.0423,112329.4376,104473.1096,...,795174.941,817653.89,823465.9092,867266.9155,863879.8209,902309.282,958869.7855,929060.0982,978120.5133,960867.8271
Barking & Dagenham,E09000002,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,52113.12157,52232.19868,51471.61353,...,334860.1394,344686.2927,348768.9455,350456.7649,349749.4368,353520.9551,356902.8691,356645.1966,352043.1242,344518.0012
Barnet,E09000003,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,91441.24768,92361.31512,93273.12245,...,584042.5146,589629.3011,590956.5544,601802.5584,607196.4449,605114.2948,596539.3541,596637.6706,598835.4533,602510.1509
Bexley,E09000004,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,63722.70055,64432.60005,64509.54767,...,385259.9068,388894.2716,394492.2897,400778.7012,402890.116,406868.9186,405329.0206,406858.5581,399887.1166,399578.3604
Brent,E09000005,71306.56698,72022.26197,72015.76274,72965.63094,73704.04743,74310.48167,74127.03788,73547.0411,73789.54287,...,529771.7571,532821.5739,549660.5579,560279.3404,580872.8243,577222.7821,572466.8925,564118.4765,560637.6337,548074.5348

In [38]:
transposed_properties.index

Index(['City of London', 'Barking & Dagenham', 'Barnet', 'Bexley', 'Brent',
       'Bromley', 'Camden', 'Croydon', 'Ealing', 'Enfield', 'Greenwich',
       'Hackney', 'Hammersmith & Fulham', 'Haringey', 'Harrow', 'Havering',
       'Hillingdon', 'Hounslow', 'Islington', 'Kensington & Chelsea',
       'Kingston upon Thames', 'Lambeth', 'Lewisham', 'Merton', 'Newham',
       'Redbridge', 'Richmond upon Thames', 'Southwark', 'Sutton',
       'Tower Hamlets', 'Waltham Forest', 'Wandsworth', 'Westminster',
       'Unnamed: 34', 'Inner London', 'Outer London', 'Unnamed: 37',
       'NORTH EAST', 'NORTH WEST', 'YORKS & THE HUMBER', 'EAST MIDLANDS',
       'WEST MIDLANDS', 'EAST OF ENGLAND', 'LONDON', 'SOUTH EAST',
       'SOUTH WEST', 'Unnamed: 47', 'England'],
      dtype='object')

In [44]:
transposed_properties.reset_index()

Unnamed: 0,NaT,1995-01-01,1995-02-01,1995-03-01,1995-04-01,1995-05-01,1995-06-01,1995-07-01,1995-08-01,1995-09-01,...,2022-05-01,2022-06-01,2022-07-01,2022-08-01,2022-09-01,2022-10-01,2022-11-01,2022-12-01,2023-01-01,2023-02-01
0,E09000001,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,110128.0423,112329.4376,104473.1096,...,795174.941,817653.89,823465.9092,867266.9155,863879.8209,902309.282,958869.7855,929060.0982,978120.5133,960867.8271
1,E09000002,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,52113.12157,52232.19868,51471.61353,...,334860.1394,344686.2927,348768.9455,350456.7649,349749.4368,353520.9551,356902.8691,356645.1966,352043.1242,344518.0012
2,E09000003,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,91441.24768,92361.31512,93273.12245,...,584042.5146,589629.3011,590956.5544,601802.5584,607196.4449,605114.2948,596539.3541,596637.6706,598835.4533,602510.1509
3,E09000004,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,63722.70055,64432.60005,64509.54767,...,385259.9068,388894.2716,394492.2897,400778.7012,402890.116,406868.9186,405329.0206,406858.5581,399887.1166,399578.3604
4,E09000005,71306.56698,72022.26197,72015.76274,72965.63094,73704.04743,74310.48167,74127.03788,73547.0411,73789.54287,...,529771.7571,532821.5739,549660.5579,560279.3404,580872.8243,577222.7821,572466.8925,564118.4765,560637.6337,548074.5348
5,E09000006,81671.47692,81657.55944,81449.31143,81124.41227,81542.61561,82382.83435,82898.52264,82054.37156,81440.43008,...,489489.8966,499630.3524,503870.2974,509409.6842,511179.977,515517.5002,515314.0875,515509.8178,514158.9388,508088.1603
6,E09000007,120932.8881,119508.8622,120282.2131,120097.899,119929.2782,121887.4625,124027.5768,125529.8039,120596.8511,...,856438.6491,840256.807,847713.1216,860296.2131,858563.6632,845839.7887,834225.2381,837359.2735,828319.5188,848186.7627
7,E09000008,69158.16225,68951.09542,68712.44341,68610.04641,68844.9169,69052.51103,69142.48112,68993.42545,69393.50023,...,413785.4224,412592.206,417252.9378,425045.6221,431936.5575,433201.6497,431935.2326,431143.1771,430576.8897,425363.6031
8,E09000009,79885.89069,80897.06551,81379.86288,82188.90498,82077.05525,81630.66181,82352.2226,82706.65927,82011.08271,...,516832.6597,527035.8744,535134.9879,539502.5352,540363.8732,538847.9643,537449.6779,540902.4493,539559.7662,546213.9155
9,E09000010,72514.69096,73155.19746,72190.44144,71442.92235,70630.77955,71348.31147,71837.54011,72237.94562,71725.22104,...,446081.1656,446126.417,447536.0993,451129.0898,455499.4275,462383.3851,462978.3799,464282.6007,458368.9324,450233.7058
10,E09000011,62300.10169,60993.26863,61377.83464,61927.7246,63512.99103,64751.56404,65486.34112,65076.43195,63996.81525,...,421938.1215,429372.1345,432879.3671,432725.678,440660.9401,443326.682,444799.2509,437228.0604,438838.0662,446652.0875
11,E09000012,61296.52637,63187.08332,63593.29935,65139.64403,66193.99212,66921.17101,68390.753,68096.79385,68752.50284,...,596641.6918,614087.8127,631450.9649,647769.5425,648193.8341,648874.7318,645511.8044,629685.5759,629963.4792,630393.3653
12,E09000013,124902.8602,122087.718,120635.9467,121424.6241,124433.539,126175.1513,124381.5134,123625.3196,123094.0484,...,742358.021,765823.6956,788536.3648,811795.9679,808658.5937,785320.9752,752769.1282,735967.9721,761692.2164,765953.4339
13,E09000014,76287.56947,78901.21036,78521.94855,79545.57477,79374.0349,79956.3621,80746.34881,81217.69074,82142.89052,...,582007.6354,583718.5852,590789.1619,594871.0012,612997.1173,614228.4301,623942.4708,615697.1003,608857.5198,590449.7852
14,E09000015,84769.52599,83396.10525,83416.23759,83567.88439,83853.65615,84173.24689,84226.69844,84430.61796,83606.97863,...,500787.5044,512559.235,528209.3461,532382.2723,533558.6156,530236.2861,528211.5733,528616.2234,529298.0703,521879.8602
15,E09000016,68000.13774,69393.51294,69368.02407,69444.26215,68534.52248,68464.60664,68680.83996,69023.36482,68108.186,...,418792.8454,420193.1245,421628.8749,423468.6096,429701.1698,431468.9528,436994.1059,437995.4403,435378.8187,434922.5973
16,E09000017,73834.82964,75031.0696,74188.66949,73911.40591,73117.12416,74005.00585,74671.13263,74967.86534,73843.55239,...,447931.7922,453095.3961,457803.9492,461454.272,467796.1976,474050.3192,476282.0408,470293.6053,466382.6263,460007.5165
17,E09000018,72231.70537,71051.55852,72097.99411,71890.28339,72877.47219,72331.08116,73717.78844,74479.94802,74426.6609,...,430883.4696,446503.9504,451935.5336,454885.9737,458083.1206,457650.4255,461331.4756,454869.6138,467737.8539,470365.3742
18,E09000019,92516.48557,94342.37334,93465.86407,93344.49305,94346.39917,97428.94311,98976.14077,98951.20791,99582.63778,...,729324.7585,712899.3606,706710.2979,721042.6829,737280.4122,732496.6444,713411.4823,696465.3203,688028.8161,689251.2051
19,E09000020,182694.8326,182345.2463,182878.8231,184176.9168,191474.1141,197265.7602,197963.3169,198037.4218,197047.8333,...,1510217.452,1509741.05,1509194.732,1511464.508,1512691.752,1374275.571,1328599.002,1244310.815,1311539.501,1318758.896
20,E09000021,80875.84843,81230.13524,81111.48848,81672.80476,82123.51084,82205.66822,82525.793,83342.84552,85110.96835,...,530008.332,531748.4855,551360.4095,554389.0345,564988.5676,567979.9167,564446.0634,564890.1891,565872.6251,570309.9063
21,E09000022,67770.98843,65381.51908,66336.51868,66388.7716,69035.11076,68881.15764,69608.72242,68840.02827,70155.81997,...,538073.1841,544064.6466,553281.0414,559075.3153,562579.2464,556037.752,554216.6669,551447.3445,553819.8651,547405.9522
22,E09000023,60491.26109,60869.27091,60288.03002,59471.03136,58551.38387,58041.43543,58126.37811,58151.3154,58742.99034,...,443842.6015,450576.2038,459722.2656,469342.9714,467397.9803,465423.9601,466148.3313,471233.3529,467804.7385,465000.6379
23,E09000024,82070.6133,79982.74872,80661.68279,79990.54333,80873.98643,80704.92667,81055.90335,80781.09186,80824.70075,...,562293.2877,566500.0074,577712.6013,582791.1268,585450.2149,576178.2082,581756.2204,577742.4536,577117.0825,584378.1134
24,E09000025,53539.31919,53153.88306,53458.26393,54479.75395,55803.95958,56067.76986,55458.31693,54709.35467,54585.50364,...,403252.1986,406790.763,416882.3932,414560.8817,416794.8146,420345.399,425779.6578,426958.1486,425754.6415,417402.0445
25,E09000026,72189.58437,72141.6261,72501.35502,72228.60295,72366.64122,72279.4325,72880.83974,73275.16891,73204.02373,...,458741.553,464550.9818,471073.2258,486572.8685,485923.9014,484509.9515,484980.5663,488104.0796,486975.7538,472295.5425
26,E09000027,109326.1245,111103.0394,107325.4742,106875,107707.6799,112865.0542,114656.6011,112320.4096,110424.5703,...,750857.4284,756882.2519,743779.8997,765822.6528,765790.6185,767930.5322,749894.6901,743270.7968,749847.5212,760775.0102
27,E09000028,67885.20344,64799.0648,65763.29719,63073.62117,64420.49933,64155.81449,67024.74767,65525.94434,63467.00948,...,526355.9366,541370.873,551381.5587,555621.804,558125.6071,554210.9289,558979.8059,553263.0271,559418.3412,539637.6331
28,E09000029,71536.97357,70893.20851,70306.83844,69411.9439,69759.21989,70125.24728,70789.57284,69958.41918,69937.40214,...,424930.4186,432527.3845,436616.5446,441139.094,443413.9715,442184.3587,443851.7581,440994.5734,448054.6587,447798.8127
29,E09000030,59865.18995,62318.53353,63938.67686,66233.19383,66432.85846,66232.16372,64692.22672,63472.27558,62177.59435,...,469801.215,471748.2625,478535.5431,477060.5308,484212.4516,486701.4412,489394.2645,494933.8741,495055.1918,502932.341
30,E09000031,61319.44913,60252.12246,60871.08493,60971.39722,61494.16938,61547.79643,61933.52738,61916.4222,61548.15206,...,484829.0465,495837.0771,509534.1557,521629.8209,523252.702,526064.0043,519203.2016,518503.8893,511473.5898,509781.8616
31,E09000032,88559.04381,88641.01678,87124.81523,87026.00225,86518.05945,88114.3351,89830.58934,90560.68078,91373.6984,...,630633.2747,630468.9565,632192.5242,649735.4023,657577.9853,652990.7816,641455.3291,638942.9685,642315.9889,639194.1777
32,E09000033,133025.2772,131468.3096,132260.3417,133370.2036,133911.1117,134562.1941,133450.2162,136581.5082,135993.0705,...,988875.5592,983194.6217,984847.0359,1004503.265,977326.1699,952190.9834,941171.0867,952437.3456,956971.2917,968017.3986
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,E13000001,78251.9765,75885.70201,76591.59947,76851.56697,79129.19443,79969.1525,80550.47935,80597.64563,80402.85,...,611830.8269,616162.023,624197.4937,633364.7354,636940.61,629895.0622,625497.5186,621054.2084,623540.9912,620560.5553
35,E13000002,72958.79836,72937.88262,72714.53478,72591.92469,72752.99414,73189.39978,73665.90517,73691.12888,73454.44292,...,473304.8805,479152.5182,484805.5571,491126.0502,495432.418,496792.3644,495977.3229,494616.2799,493849.1955,492070.5982
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,E12000001,42076.35411,42571.98949,42369.72984,42095.8436,43266.45165,42315.34372,43287.74323,41899.05494,41850.85646,...,152386.9655,154167.0141,159991.8605,160323.632,161742.4434,162699.0303,162687.0494,161252.2165,163699.9387,159979.8979
38,E12000002,43958.48001,43925.42289,44434.8681,44267.7796,44223.61973,44112.96432,44109.58764,44193.66583,44088.07696,...,206728.2541,208764.0068,214447.9363,215464.3117,217478.7773,218171.2016,219767.7831,218317.4552,215343.324,214145.927
39,E12000003,44803.42878,44528.80721,45200.46775,45614.34341,44830.98563,45392.63981,45534.99864,45111.45939,44837.86023,...,202666.3107,203772.1876,207957.4005,209197.3416,211078.8235,211638.0918,212548.8769,212196.9342,207306.0227,207219.9554
40,E12000004,45544.52227,46051.57066,45383.82395,46124.23045,45878.00396,45679.99539,46037.67312,45922.53585,45771.66321,...,240132.3095,243706.0335,245806.9955,249788.9521,251141.0915,251002.179,253124.0033,254628.1777,252569.964,249750.6034
41,E12000005,48527.52339,49341.29029,49442.17973,49455.93299,50369.66188,50100.43023,49860.00809,49598.45969,49319.69715,...,243308.9981,243488.3414,251216.29,251515.043,253068.0909,254341.3325,253781.1612,256001.5963,254864.7371,253920.9316
42,E12000006,56701.5961,56593.59475,56171.18278,56567.89582,56479.80183,56288.94557,57242.30186,56732.40547,56259.28635,...,346871.4707,348384.9012,353765.2534,356882.3535,359270.7153,358796.2772,361824.0641,360864.8677,358063.813,357697.4896
43,E12000007,74435.76052,72777.93709,73896.84204,74455.28754,75432.02786,75606.24501,75984.24079,75529.34488,74940.80872,...,522856.7339,531874.1878,541194.3014,544636.4127,544177.6338,537313.5016,538777.4212,537118.8715,538115.7467,532212.4352
44,E12000008,64018.87894,63715.02399,64113.60858,64623.22395,64530.36358,65511.008,65224.88465,64851.60429,64352.47119,...,384120.1445,387485.9969,393804.8203,397152.5278,399689.581,400111.3921,399345.0026,401841.6064,400235.2256,395571.4151
45,E12000009,54705.1579,54356.14843,53583.07667,54786.01938,54698.83831,54420.15939,54265.86368,54365.71495,54243.98694,...,321309.4916,319867.8872,328263.6198,332995.028,334836.8437,334155.9043,335215.8753,330245.3044,330488.4091,326615.6064
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,E92000001,53202.77128,53096.1549,53201.2843,53590.8548,53678.24041,53735.15475,53900.60633,53600.31975,53309.2331,...,299342.2639,301532.3382,307880.2169,310335.4985,312237.4563,312138.7957,313161.9285,312728.0529,310885.8095,308365.2199

In [45]:
transposed_properties.rename(columns={'NaT	':'ID'})

IndexError: too many indices for array

In [43]:
transposed_properties.set_index('NaT	',inplace=True)
transposed_properties.head()

KeyError: "None of ['NaT\\t'] are in the columns"

**Renaming the Column Name**

In [37]:
transposed_properties.rename(columns={'NaT':'BoroughID'})

IndexError: too many indices for array

**2.3. Cleaning the data (part 2)**

You might we have to **rename** a couple columns. How do you do this? The clue's pretty bold...

**2.4.Transforming the data**

Remember what Wes McKinney said about tidy data? 

You might need to **melt** your DataFrame here.

Remember to make sure your column data types are all correct. Average prices, for example, should be floating point numbers...

**2.5. Cleaning the data (part 3)**

Do we have an equal number of observations in the ID, Average Price, Month, and London Borough columns? Remember that there are only 32 London Boroughs. How many entries do you have in that column? 

Check out the contents of the London Borough column, and if you find null values, get rid of them however you see fit.

**2.6. Visualizing the data**

To visualize the data, why not subset on a particular London Borough? Maybe do a line plot of Month against Average Price?

To limit the number of data points you have, you might want to extract the year from every month value your *Month* column. 

To this end, you *could* apply a ***lambda function***. Your logic could work as follows:
1. look through the `Month` column
2. extract the year from each individual value in that column 
3. store that corresponding year as separate column. 

Whether you go ahead with this is up to you. Just so long as you answer our initial brief: which boroughs of London have seen the greatest house price increase, on average, over the past two decades?

**3. Modeling**

Consider creating a function that will calculate a ratio of house prices, comparing the price of a house in 2018 to the price in 1998.

Consider calling this function create_price_ratio.

You'd want this function to:
1. Take a filter of dfg, specifically where this filter constrains the London_Borough, as an argument. For example, one admissible argument should be: dfg[dfg['London_Borough']=='Camden'].
2. Get the Average Price for that Borough, for the years 1998 and 2018.
4. Calculate the ratio of the Average Price for 1998 divided by the Average Price for 2018.
5. Return that ratio.

Once you've written this function, you ultimately want to use it to iterate through all the unique London_Boroughs and work out the ratio capturing the difference of house prices between 1998 and 2018.

Bear in mind: you don't have to write a function like this if you don't want to. If you can solve the brief otherwise, then great! 

***Hint***: This section should test the skills you acquired in:
- Python Data Science Toolbox - Part One, all modules

### 4. Conclusion
What can you conclude? Type out your conclusion below. 

Look back at your notebook. Think about how you might summarize what you have done, and prepare a quick presentation on it to your mentor at your next meeting. 

We hope you enjoyed this practical project. It should have consolidated your data hygiene and pandas skills by looking at a real-world problem involving just the kind of dataset you might encounter as a budding data scientist. Congratulations, and looking forward to seeing you at the next step in the course!